<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100xdevs Certificate</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="limiter" id="login">
        <div class="container-login100" style="background-image: url('{% static 'login.webp' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="wrap-login100">
                            <form class="login100-form validate-form" method="post">
                                {% csrf_token %}
                                <span class="login100-form-title">Certificate</span>
                                {{ form.email.errors }}

                                <div class="wrap-input100 validate-input m-b-16"
                                    data-validate="Valid email is required: ex@abc.xyz">
                                    {{ form.email.label_tag }}
                                    <input class="input100" type="email" name="email" id="email" placeholder="Your Email ID" required>
                                    <span class="focus-input100"></span> <span class="symbol-input100">
                                        <span class="glyphicon glyphicon-user"></span> </span>
                                <div class="container-login100-form-btn p-t-25">
                                    <button class="login100-form-btn" type="submit">Get Certificate</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
